.text1 {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; font-variant: normal; color: #000000}
.text2 {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000}
.text3 { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000 }
.text1bold { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; font-variant: normal; color: #000000 }
.text2bold { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000 ; font-weight: bold}
.text3bold { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; color: #000000 ; font-weight: bold}
.text0 { font-family: Arial, Helvetica, sans-serif; font-size: 6pt; font-style: normal; font-weight: bold; font-variant: normal; color: #000000 }
.text4bold { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; color: #000000 ; font-weight: normal}
.text5 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; font-variant: normal; color: #000000 }
.text35bold { font-family: Arial, Helvetica, sans-serif; font-size: 13pt; color: #000000 ; font-weight: bold}
.text4 { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; color: #000000 }
.text25 { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; color: #000000 }
