td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7px}
.Logo_Bradesco {  font-family: Arial; font-size: 13px; font-weight: bold}
.Font_08 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; font-weight: bold}
.Font_Linha_Digt {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold}
.Font_09_Light {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px}
.Font_09 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-weight: bold}
.Fonte_chamada {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold}
.Fonte_06 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 5px; font-weight: bold}
.2a_VIA {  font-family: Verdana; font-size: 36px; font-weight: bold}
.Fonte_08_light {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px}
.2a_via_light {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 18px; font-weight: bold}
.Fonte_09_light {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px}
.Fonte_07_light {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7px}
.Fonte_07{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7px; font-weight: bold }
.Font_09_red {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FF0000}
.Font_12_red {  COLOR: #000000; FONT-FAMILY: arial, helvetica; FONT-SIZE: 12pt; FONT-WEIGHT: bold; TEXT-DECORATION: none}
.Fonte_10 {  font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: italic}
.Font_12 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.Fonte_06_Light {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 5px; TEXT-DECORATION: underline}
.Fonte_6_light {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 6px}
.Fonte_6{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 6px; font-weight: bold }